/* Helper Classes */



.card {
    background-color: #242943; 
    padding-right: 24px !important;
}

.card-2 {
    padding: 24px !important;
}

.double-border {
    border-right: 2px solid #616161;
    border-left: 2px solid #616161;
}

.left-border {
    border-left: 2px solid #616161;
}

.right-border {
    border-right: solid #616161;
}

.bottom-border {
    border-bottom: 2px solid #616161;
}

/***** Services *****/
/* Info Section */
.info-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
}

i {
    position: relative;
    top: 5px;
    left: 10px;
}

.fas {
    font-size: 1.5em;
}